NUXT_COMMERCETOOLS_API_HOST=https://api.europe-west1.gcp.commercetools.com
NUXT_COMMERCETOOLS_AUTH_HOST=https://auth.europe-west1.gcp.commercetools.com
NUXT_COMMERCETOOLS_PROJECT_KEY=
NUXT_COMMERCETOOLS_CLIENT_ID=
NUXT_COMMERCETOOLS_CLIENT_SECRET=
